In [23]:
import os

os.listdir()

['.ipynb_checkpoints',
 'DataFrameSlice.ipynb',
 'PandasDatframeLoadFiles.ipynb',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx']

In [30]:
import pandas
df= pandas.read_csv("supermarkets.csv")
df.set_index("Address") 
#Here row index is changed to lable index i.e. Address is used as label index instead of default position index 0,1,2 etc
#But the dataframe index in actual is not changed it just prints the index on the fly without actually changing the dataframe index

,ID,City,State,Country,Name,Employees
Address,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,3,San Francisco,California 94114,USA,Super River,25
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20

In [31]:
df
#set_index is not an inplace operator which means next time we print df1 the dataframe index still prints the position index

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [32]:
import pandas

df1= pandas.read_csv("supermarkets.csv")
df1 = df1.set_index("Address") #Address is set as the index this is called  label index
#To perfrom an inplace operation on datframe df1 index we use the same variable name df1 as teh dataframe so it's can perfrome an inplace operation, now when we print df1 it will replace the original dataframe default position index to lable index with Address as the lable index

,ID,City,State,Country,Name,Employees
Address,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,3,San Francisco,California 94114,USA,Super River,25
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20

In [6]:
df1.loc["332 Hill St":"551 Alvarado St","Country":"Name"] # its pulling the infromation using label index for rows and column; Address value is used as a index label and Country,Name are the column names

                Country         Name
Address
332 Hill St         USA  Super River
3995 23rd St        USA   Ben's Shop
1056 Sanchez St     USA      Sanchez
551 Alvarado St     USA   Richvalley

In [11]:
 df1.iloc[2:6,3:5] #Pulling information from dataframes using position index, the index are upper bound exlusive i.e. the upper bound index values are not pulled i.e values of index 6 from row and 5 from column are not pulled

                Country         Name
Address
332 Hill St         USA  Super River
3995 23rd St        USA   Ben's Shop
1056 Sanchez St     USA      Sanchez
551 Alvarado St     USA   Richvalley

In [13]:
#We can also use mixture of label index  and position index to pull information from dataframes
#.ix can decide to index positionally OR via labels depending on the data type of the index. This has caused quite a bit of user confusion over the years.
#So it is not recommended and is Deprecated

df1.ix[3:6,"Name":"Employees"]

                       Name  Employees
Address
3995 23rd St     Ben's Shop         10
1056 Sanchez St     Sanchez         12
551 Alvarado St  Richvalley         20

In [36]:
#to Print just one row or column

df1.iloc[3,4]

"Ben's Shop"

In [35]:
df1.loc["1056 Sanchez St","Name"]

'Sanchez'

In [37]:
df1.loc[:,"Name"] # to print all Names; Address is shwoing up as this is the label index

Address
3666 21st St           Madeira
735 Dolores St     Bready Shop
332 Hill St        Super River
3995 23rd St        Ben's Shop
1056 Sanchez St        Sanchez
551 Alvarado St     Richvalley
Name: Name, dtype: object

In [44]:
#Convert dataframe output to list
list(df1.iloc[3,3])

['U', 'S', 'A']

In [48]:
list(df1.iloc[4,1])

['S', 'a', 'n', ' ', 'F', 'r', 'a', 'n', 'c', 'i', 's', 'c', 'o']

In [43]:
list(df1.iloc[:,4])

['Madeira',
 'Bready Shop',
 'Super River',
 "Ben's Shop",
 'Sanchez',
 'Richvalley']