In [1]:
import numpy
import cv2

numa = cv2.imread("smallgray.png",0)
numa

array([[187, 158, 104, 121, 143],
       [198, 125, 255, 255, 147],
       [209, 134, 255,  97, 182]], dtype=uint8)

In [2]:
numa[:2,0] #Slicing numpy array first two rows and column 1 of each

array([187, 198], dtype=uint8)

In [4]:
numa[2,0] #3rd row first column

209

In [5]:
#Iterate through the rows

for i in numa:
    print(i)

[187 158 104 121 143]
[198 125 255 255 147]
[209 134 255  97 182]

In [8]:
#Iterate through the columns we need to tranmspose the array
for i in numa.T:
    print(i)

[187 198 209]
[158 125 134]
[104 255 255]
[121 255  97]
[143 147 182]

In [9]:
#To iterate through each item in numpy array value by value

for i in  numa.flat:
    print(i)

187
158
104
121
143
198
125
255
255
147
209
134
255
97
182